*{
    --bleuFonce: #080038;
    --GrisFonce: #2c2c2d;
    --GrisFonceTransparente: #2c2c2da1;
    --blanc: #fff;
    --Noir: #000000;
    --Ombre: 4px 7px 12px 0px #000000a6;
}

body{
    background-color: var(--GrisFonce);
    background-image: url('../img/Fond.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    display: flex;
    position: fixed;
    background-color: var(--GrisFonceTransparente);
    top: 20px;
    backdrop-filter: blur(6px);
    width: 80%;
    max-width: 700px;
    height: 50px;
    border-radius: 0.7rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: var(--Ombre);
}